@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: rgb(24, 27, 40);
	background: radial-gradient(
		circle,
		rgba(24, 27, 40, 1) 50%,
		rgba(2, 3, 5, 1) 100%
	);
	background-size: cover;
	background-attachment: fixed;
}
